.logotype {
  text-align: center;
  padding: 40px 0px;
  font-size: 2em;
  font-weight: 700;
  background: linear-gradient(45deg, #00c6ff, #0072ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -1px;
}

